.case-item {
    display: flex;
    margin-bottom: 90px;
}
.case-item_left figure {
    margin-right: 25px;
}
.case-item_right figure {
    margin-left: 25px;
}
.case .icon {
    font-size: 24px;
}
.case-item__label {
    margin-bottom: 15px;
    position: relative;
    padding: 7px 0;
    max-width: 118px;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--red);
}
.case-item__label::before {
    content: "";
    position: absolute;
    right: -15px;
    top: 0;
    border: 15px solid transparent; 
    border-left: 0 solid var(--red); 
    border-top: 40px solid var(--red); 
}
.case-item__title {
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 27px;
}
.case-item__task {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: 700;    
    font-size: 13px;
    letter-spacing: 1px;
    color: var(--grayfont);
    text-transform: uppercase;
}
.case-item__text {
    font-size: 14px;
    line-height: 20px;
    color: var(--grayfont2);
}
.case-item__icon {
    margin: 10px 0;
}
.case-item__count {
    font-size: 32px;
}
.case-item__place {
    font-size: 18px;
}
.case-item__task-p {
    margin-top: 5px;
    font-size: 18px;
    line-height: 20px;
    color: var(--grayfont2);
}