.section.contact {
    padding-top: 0;
    padding-bottom: 90px;
}
.contact {
    font-size: 14px;
    line-height: 24px;
}
.contact-item {
    margin-top: 30px;
} 
.contact-item__title {
    margin-top: 0;
    font-family: "Segoe UI Black", Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.contact a {
    color: var(--font);
    text-decoration: none;
}