.destinations__items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.destinations__item {
    flex: 1 1 20%;
    max-width: 20%;
    padding: 15px 0;
}
.destinations__item-text {    
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    max-width: 130px;    
}
.destinations__item-text:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 2px;
    background-color: var(--red);
}
.destinations__item i {
    font-size: 65px;
}
@media (max-width:991px)  {
    .destinations__item .icon {
        font-size: 36px;
        margin-right: 15px;
    }
    .destinations__item-text {
        margin-top: 0;
        padding-top: 5px;
        max-width: unset;
    }
}
@media (min-width:768px) and (max-width:991px)  {
    .destinations .block-title {
        margin-bottom: 0;
    }
    .destinations__item {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
    }
    .destinations__item-text {
        margin-top: 0;
        padding-top: 5px;
        max-width: unset;
        font-size: 18px;
    }
    .destinations__item-text {
        font-size: 18px;
    }
}
@media only screen and (max-width:767px)  {
    .destinations__item-text {
        font-size: 16px;
    }
}
@media only screen and (max-width:576px)  {
    .destinations__item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .destinations__item {
        display: flex;
    }
    .destinations__item-text {  
        max-width: unset;
    }
    .destinations__item .icon {
        margin-right: 30px;
    }
}

