.news__item-link {    
    box-sizing: border-box;
    display: block;
    padding: 30px;
    text-decoration: none;
    border: 1px solid #d8d8d8;
    color: var(--font);
    min-height: 300px;
    margin-bottom: 30px;
}
.news__item-date {
    font-family: "Segoe UI Black", Arial, sans-serif;
    font-weight: 900;
    margin-bottom: 30px;
}
@media only screen and (max-width:991px)  {
    .news .block-title{
        display: none;
    }
    .news__item-link {
        display: none;
    }
    .news a.btn-transparent {
        display: block;
        max-width: 200px;
        margin: 30px auto 0 auto;
    }
}