.section-background {
    padding: 100px 0;
    color: var(--white);
}
.section-background_title {
    min-height: 511px;
    box-sizing: border-box;
    padding: 100px 0 100px 100px;
    background-image: url("../img/decor.svg");
    background-repeat: no-repeat;
}
.section-background__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: "Segoe UI Black", Arial, sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 44px;
}
.section-text__intro {
    max-width: 390px;
    margin: 30px auto;
}
.section-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.transfer__intro {
    font-size: 16px;
    line-height: 22px;
}
@media (max-width:992px)  {
    .section-background_title {
        min-height: unset;
        background-image: none;
        padding: 0;
    }
    .section-background__title {
        font-size: 30px;
        line-height: 30px;
    }
}

